<!-- maybe put this in a header? -->
<header>
    <div id="headlogo">
        <img id="logo" alt="feefifofoodLogo" src=""> 
    </div>
    <div id="headtitle">
        <h1>Fee-Fi-Fo-Food</h1>
        <h5>EST.2024</h5>
        <h5>Fiona owned & operated | Gourmet Burgers</h5>
    </div>
</header>