<!-- Navbar = Home - Menu - About - Staff - Contact Us - Links - "Place Order" Button -->

<nav>
    <a href="/">Home</a>
    <a href="/menu">Menu</a>
    <a href="/about">About</a>
    <a href="/staff">Staff</a>
    <a href="/contact">Contact Us</a>
    <a href="/links">Links</a>
    <button id="order">Place Order</button>
</nav>