body {
    background-color: darkslategray;
    color: mintcream;
    text-align: center;
}

/* header partial (needs to be in all sheets currently) */
header {
    display: flex;
    flex-direction: column;
    height: 125px;
    background-image: url("../images/fee-fi-logo.png");
    background-size: 125px 125px;
    background-repeat: no-repeat;
    background-position: center;
}

#headtitle {
    font-size: 45px;
    margin: 60px 0 15px 0;
}

#headsubtitle {
    font-size: 16px;
    margin: 0;
}

/* nav bar css */
nav {
    margin: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: mintcream;
}

/* home page css*/
#botdImg {
    width: 300px;
    height: 300px;

}


/* menu page css */
.mainImg {
    width: 200px;
    height: 200px;
}

/* contact page css */
/* #contact-head {
    text-align: center;
} */

#email-message {
    text-align: center;
}
.container {
    text-align: center;
}
#name-input, #email-input, #number-input {
    width: 450px;
    height: 25px;
    border-radius: 10px;
}
#category {
    width: 460px;
    height: 30px;
    border-radius: 10px;
}
#message-input {
    width: 450px;
    height: 100px;
    border-radius: 10px;
}
#submit-form {
    width: 125px;
    height: 45px;
    border-radius: 10px;
}


/* link page css */
#linkbox {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
}


/* footer css (all pages) */
footer {
    text-align: center;
}