body {
    background-color: grey;
}




#contact-head {
    text-align: center;
}
#email-message {
    text-align: center;
}
.container {
    text-align: center;
}
#name-input, #email-input, #number-input {
    width: 450px;
    height: 25px;
    border-radius: 10px;
}
#category {
    width: 460px;
    height: 30px;
    border-radius: 10px;
}
#message-input {
    width: 450px;
    height: 100px;
    border-radius: 10px;
}
#submit-form {
    width: 125px;
    height: 45px;
    border-radius: 10px;
}